@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-segoe {
  font-family: 'Segoe UI', sans-serif;
}

body {
  width: 90vw;
  margin: 0 auto;
}